* {
  box-sizing: border-box;
}

body {
  background-color: aqua;
}

h2 {
  text-align: left;
  color: red;
}

p {
  text-align: center;

  display: flex;
  justify-content: space-around;
  align-items: baseline;
}